container_commands:
  01-update-composer:
    command: "composer.phar selfupdate"
    ignoreErrors: false
    env:
      COMPOSER_HOME: /var/app/ondeck

  05-install-composer-dependencies:
    command: "composer.phar install -d /var/app/ondeck"
    cwd: "/var/app/ondeck"
    ignoreErrors: false
    env:
      COMPOSER_HOME: /var/app/ondeck
